In [66]:
import pandas as pd
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
stemmer=PorterStemmer()

In [67]:
df=pd.read_csv(r"C:\Users\ASUS\Desktop\sms.txt",sep='\t',names=["Result","Message"])

In [68]:
msg

     Result                                            Message
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham               Will ü b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [75]:
for i in range(len(df)):
    words=nltk.word_tokenize(df['Message'][i])
    words = re.sub('[^a-zA-Z]', ' ', df['Message'][i])
    words=words.lower()
    words=words.split(" ")
    words=[stemmer.stem(word) for word in words if word not in stopwords.words("english")]
    df['Message'][i]="  ".join(words)
df

     Result                                            Message
0       ham  go  jurong  point    crazi      avail  bugi  n...
1       ham             ok  lar        joke  wif  u  oni
2      spam  free  entri      wkli  comp  win  fa  cup  fin...
3       ham  u  dun  say  earli  hor        u  c  alreadi  ...
4       ham       nah  think  goe  usf    live  around  though
...     ...                                                ...
5567   spam    nd  time  tri      contact  u    u          ...
5568    ham                        b  go  esplanad  fr  home
5569    ham                  piti        mood        suggest
5570    ham  guy  bitch  act  like  interest  buy  someth  ...
5571    ham                                 rofl    true  name

[5572 rows x 2 columns]

In [192]:
X=df.iloc[:,-1]

In [193]:
Y=pd.get_dummies(df['Result'],drop_first=True)

In [194]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=3000)

In [195]:
X=cv.fit_transform(X).toarray()

In [196]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [206]:
from sklearn.naive_bayes import MultinomialNB , GaussianNB
NB=MultinomialNB()
GNB=GaussianNB()

In [207]:
NB.fit(X_train,y_train)

C:\Users\ASUS\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

MultinomialNB()

In [208]:
predictions = NB.predict(X_test)

In [209]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[947,   8],
       [  7, 153]], dtype=int64)

In [210]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       955
           1       0.95      0.96      0.95       160

    accuracy                           0.99      1115
   macro avg       0.97      0.97      0.97      1115
weighted avg       0.99      0.99      0.99      1115

In [211]:
GNB.fit(X_train,y_train)

C:\Users\ASUS\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [212]:
predictions2 = GNB.predict(X_test)

In [213]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,predictions)

array([[947,   8],
       [  7, 153]], dtype=int64)

In [214]:
from sklearn.metrics import classification_report
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99       955
           1       0.95      0.96      0.95       160

    accuracy                           0.99      1115
   macro avg       0.97      0.97      0.97      1115
weighted avg       0.99      0.99      0.99      1115